<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wfit.dachuang.mapper.RegisterMapper">
    <insert id="registerUser" parameterType="com.wfit.dachuang.pojo.User">
        insert into user values (#{id},#{account},#{password});
    </insert>
    <insert id="registerDetail" parameterType="com.wfit.dachuang.pojo.UserDetail">
        insert into user_detail(id, user_id, email, phone, create_by, create_time, update_by, update_time,remarks,sex) values (#{id},#{user.id},#{email},#{phone},ifnull(#{createBy},'system'),now(),ifnull(#{updateBy},'system'),now(),#{remarks},#{sex});
    </insert>
    <select id="checkAccount" parameterType="string" resultType="int">
        select count(*) from user where account=#{account}
    </select>
</mapper>
