<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wfit.dachuang.mapper.TestMapper">
    <select id="checkUser" parameterType="com.wfit.dachuang.pojo.User" resultType="int">
        select count(*) from user where account=#{account} and pwd=#{pwd} and role=#{role}
    </select>
</mapper>
